.wrapper {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 3rem;
  font-size: 1.4rem;
  color: #333;
  overflow-y: hidden;
  z-index: 99;
    animation: appear 0.5s ease-in;
}

.form {
  max-width: 90rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 13px 0 #939090;
  max-width: 90rem;
  font-size: 1.4rem;

  z-index: 20;
}

.cover {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.542);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;

  span {
    color: red;
  }

  p {
    padding-top: 1rem;
  }
}

.content {
  background-color: #eef0f1;
  padding: 0 1rem;

  li {
    list-style: circle;
    font-weight: 400;
  }

  input,select {
    width: 40%;
    padding: 0.1rem 0.5rem;
  }

  p {
    padding-left: 5.5rem;
    margin-bottom: 0;
  }

  h3 {
    color: #337ab7;
    font-size: 2.4rem;
  }
}

.block {
  text-align: center;

  label {
    width: 10%;
    text-align: start;
    font-weight: 600;
    @media only screen and (max-width: 767.98px) {
      width: 30%;
    }
  }
}

.item {
  margin-bottom: 0.5rem;
}

.footer {
  display: flex;
  justify-content: end;

  button,div {
    margin: 0.2rem 0.5rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    padding: 0 2rem;
    color: #fff;
    background-color: #337ab7;
    &:hover {
      background-color: #047be3;
    }
  }

  div {
      background-color: #eef0f1;
      color: #333;
      cursor: pointer;
      &:hover {
        background-color: #dbe9f0;
      }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
