.title {
  text-align: center;
  padding-top: 10px;
  border-bottom: 1px solid #d3c9c9;
}

.loginForm {
  border-radius: 5px;
  box-shadow: 0 0 13px 0 #939090;
  max-width: 90rem;
  font-size: 1.4rem;
  margin: 0 auto;

  form {
    padding: 20px;
    background-color: #dad6d641;
    border-radius: 0.5rem;
    input,
    select {
      padding: 0.3rem;
      border-radius: 0.5rem;
      border: 1px solid rgba(153, 140, 140, 0.22);
    }

    h1 {
      font-weight: 400;
    }

    div {
      margin-bottom: 0.8rem;
    }

    label {
      font-weight: 700;
    }

    button {
      width: 90%;
      margin-left: 5%;
      padding: 0.3rem;
      text-transform: capitalize;
      border-radius: 0.5rem;
      background-color: #5cb85c;
      color: #fff;

      &:hover {
        background-color: #2e9e2e;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      text-decoration: none;
      background-color: #337ab7;
      text-transform: capitalize;
      width: 90%;
      padding: 0.3rem;
      color: #fff;
      padding: 4px 11px;
      margin-bottom: 0;
      font-size: 1.2rem;
      text-align: center;
      margin: 0.8rem auto;
      user-select: none;
      border-radius: 0.5rem;

      &:hover {
        background-color: #045398;
      }
    }
  }
}

.systemReport {
  padding: 2rem;
    @media only screen and (max-width: 992px){
        padding-left: 0 ;
    }
  h2 {
    padding: 0 0 2rem 0;
    text-transform: capitalize;
  }

  ul {
    padding: 0;
  }

  li {
    font-size: 1.4rem;
    padding: 0.3rem;
  }

  button {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.3rem;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  }
  .btnSignIn {
    background-color: #5bc0de;
    &:hover {
      background-color: #029fce;
    }
  }

  .openAccount {
    background-color: #d9534f;
    &:hover {
      background-color: #ed130b;
    }
  }

  .btnReset {
    background-color: #337ab7;
    &:hover {
        background-color: #0362b6;
    }
  }
}
