.insurance {
  overflow-x: auto;
  @media only screen and (max-width: 992px) {
    text-align: start;
  }
  h3 {
    font-weight: 450;
    padding: 1rem 0;
    color: #333;
    padding-left: 4.4rem;
  }
}

.select {
  width: 56.4rem;
  padding-right: 2rem;

  span {
    width: 5%;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    margin: 1px;
    padding-right: 0.5rem;
  }

  select {
    width: 4%;
    font-weight: 400;

    color: #003471;
    border: 1px solid #ccc;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 13px;
    line-height: 13px;
  }
}

.search {
  width: 35rem;
  padding-bottom: 0.2rem;

  span {
    width: 5%;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  // input {
  //   min-width: 20rem;
  //   max-width: 85%;
  //   font-weight: 400;
  //   color: #003471;
  //   border: 1px solid #ccc;
  //   padding: 0.1rem 5px;
  //   border-radius: 5px;
  //   font-size: 13px;
  //   line-height: 13px;
  // }
}
.rowright {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;

  @media only screen and (max-width: 992px) {
    padding: 2rem 7rem;
  }
}
