.textarea {
  textarea {
    font-weight: 400;
    width: 35rem;
    height: 10.56rem;
    color: #003471;
    border: 0.1rem solid #ccc;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.3rem;

    &:focus {
      box-shadow: 0 0 0.2rem 0.2rem #4790e37b;
      border: none;
    }
  }
}

.title {
  font-size: 1.3rem;
  font-weight: 400;
  padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.btn {
  text-align: center;
  width: 35rem;
  button {
    display: inline-block;
    padding: 0.4rem 1.1rem;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &:first-child {
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;

      &:hover {
        background-color: #07afe3;
      }
    }

    &:last-child {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
      &:hover {
        background-color: #930500;
      }
    }
  }
}


.text {
  textarea {
    padding: 1rem;
    
  }
}