.header {
  font-size: 1.4rem;
  background-color: #0182c6;
  color: #fff;
  z-index: 99;
  //  position: relative;

  li {
    position: relative;
    display: block;
    z-index: 99;

    ul {
      position: absolute;
      display: none;
      color: #0182c6;
      left: 0;
      top: 4.1rem;
      padding-left: 0;
      box-shadow: 0 0 2px 2px #33333377;
      z-index: 99;

      a {
        //padding: 2rem 10rem;
        background-color: #fff;
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333 !important;
        white-space: nowrap;
        cursor: pointer;
        z-index: 99;

        &:hover {
          background-color: #bbb6b6;
        }
      }
    }
  }

  .menuItem > a {
    font-weight: 700;
    &:hover {
      background-color: chocolate;
    }
  }
}

.wrapp {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.logo {
  img {
    width: 12.1rem;
    height: 5rem;
  }
}

.menu {
  display: flex;
}

.menuItem {
  margin-right: 2rem;

  a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 2rem;
  }

  ul > li > ul {
    // left: 20.4rem;
    top: 0;
    left: 100%;
  }
}

.cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: aqua;
  z-index: -1;
}
