.footer {
    background-color: #003664;
    width: 100%;
   // position: fixed;
    margin-top: 27.5rem;
    padding: 0.1rem 0;
    @media only screen and (max-width: 992px){
        transform: translateY(1rem);
        position: unset;
    }

    p {
        color: #fff;
        font-size: 1.3rem;
    }
}