.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}


body {
  font-size: 1.4rem;
  box-sizing: border-box;
}

button {
  border: none;
}



.open { display: block !important; }
.select { background-color: chocolate; }

.bgr {background-color: #bbb6b6 !important;}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.fa {
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;


}

.fa-cog {
  &::before {
      content: "\f013";
      box-sizing: border-box;
  }
}